body{
    background: url("skymoon.jpg") no-repeat center center fixed;
    background-size: cover;
}
.intro-text{
    margin-top: 400px;
    margin-left: 200px;
    display: block;
}
.intro-text p{
    color: white;
    font-size: 25px;
    font-weight: 100;
    font-family: Arial;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.link-items a{
    color: white;
    text-transform: uppercase;
    padding: 20px;
    align-items: left;
    text-underline-offset: 4px;
}
.name-items a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 30px;
}